[submodule "thirdparty/argparse"]
	path = thirdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "thirdparty/indicators"]
	path = thirdparty/indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "thirdparty/opencascade"]
	path = thirdparty/opencascade
	url = https://github.com/predeps/opencascade
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/predeps/googletest
[submodule "thirdparty/slot_map"]
	path = thirdparty/slot_map
	url = https://github.com/SergeyMakeev/slot_map.git
[submodule "thirdparty/googlebenchmark"]
	path = thirdparty/googlebenchmark
	url = https://github.com/predeps/googlebenchmark
[submodule "thirdparty/pipeline"]
	path = thirdparty/pipeline
	url = https://github.com/p-ranav/pipeline.git
